<!DOCTYPE html>
<html lang="en">

<head>
    <title>Azidoazide Login</title>
    <meta charset="utf-8" />
    <meta property="og:title" content="Login" />
    <meta property="og:site_name" content="Azidoazide" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nightmarebot.tk/" />
    <meta property="og:image" content="https://nightmarebot.tk/logo.png" />
    <meta property="og:description" content="Login to all Azidoazide services!" />
    <meta property="theme-color" content="#3c3c3c" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        "blurple": "#5865F2",
                        "spotify": "#1DB954"
                    }
                }
            },
            plugins: []
        };
    </script>

    <script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js";
  import { getAuth } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-auth.js";

  const firebaseConfig = {
    apiKey: "AIzaSyCp8Jhu_s7g2t7nAFISf0VAk08kXqiuTYM",
    authDomain: "azidoazide-ca4f9.firebaseapp.com",
    projectId: "azidoazide-ca4f9",
    storageBucket: "azidoazide-ca4f9.appspot.com",
    messagingSenderId: "1050454956117",
    appId: "1:1050454956117:web:dca01f135efbf355e8dcdc"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const auth = getAuth(app);
</script>
</head>

<body class="bg-slate-900 m-3">
    <center>
        <img
            class="rounded-full"
			src="<%= websiteData.image %>"
            alt="Logo"
			height="80px"
			width="80px"
        />

        <div class="p-1"></div>

        <div class="flex justify-center items-center cursor-pointer" onclick="window.location.href = '<%= websiteData.url %>/';">
            <h2 class="text-lg font-bold text-white text-center"><%= websiteData.name %></h2>
        
            <% if (websiteData.verified) { %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-1 text-red-500" title="This website is verified, by The Azidoazide Team.">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                </svg>
            <% } %>
        </div>

        <p class="text-base font-bold text-gray-500 text-center"><%= websiteData.description %></p>

        <div class="p-2"></div>

        <div class="p-4 bg-gray-600 rounded-md border-gray-700">
           <input type="text" class="p-2 bg-white text-black font-bold text-base" placeholder="Email" />
           <input type="password" class="p-2 bg-white text-black font-bold text-base" placeholder="Password" />
        </div>

        <div class="p-2"></div>

        <div class="flex justify-center items-center" id="methods">
            <button
                type="button"
                class="p-2 bg-blurple text-lg text-white font-bold rounded-md"
                onclick="window.location.href = '/auth/login?method=discord&client_id=<%= websiteData.client_id %>';"
            >Login with Discord</button>

            <div class="p-1"></div>

            <button
                type="button"
                class="p-2 bg-spotify text-lg text-white font-bold rounded-md"
                onclick="window.location.href = '/auth/login?method=spotify&client_id=<%= websiteData.client_id %>';"
            >Login with Spotify</button>
        </div>
    </center>
</body>
</html>
